// Use this file to define style overrides for @edx/paragon
// This file is included after all Paragon styles, but should generally avoid using private mixins in Paragon.

@font-face {
  font-family: 'ProximaNova-SemiBold';
  font-weight: 600;
  font-style: normal;
  src: url("./fonts-folder/fontawesome-webfont.woff2") format('woff2');
}

body {
  background-color: #000;
  min-width: 300px;
  width: 100%;
  height: 100%;
  font-family: ProximaNova-SemiBold !important;
}

.btn-brand {
    color: #fff;
    background: #eec510 !important;
    border-color: #eec510 !important;
}

.btn {
    height: 40px;
    padding: 8px 15px;
    outline: none !important;
    overflow: hidden;
    min-width: 140px !important;
    font-weight: 600;
    width: 100%;
    font-size: 13px;
    border-radius: 2px;
}

// Remove page top strip
.extra-large-screen-top-stripe,
.medium-screen-top-stripe,
.small-screen-top-stripe {
  display: none !important;
}

// main layout
.layout {
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: row !important;
  overflow: hidden;
}

// main layout left column
.layout {
  > .d-flex {
    width: 60% !important;
    height: min(100vh, 0.6* 100vw);
    background: black url(images/login-page-hero-image.png) no-repeat center !important;
    background-size: cover !important;
    flex-grow: 1;
    > * { display: none }
  }
  > .bg-primary-400 { display: none }
}

// main layout right column
.layout {
  .content {
    margin: 0;
    flex-grow: 1;
    width: 40%;
    height: 100%;
    align-items: center;
    justify-content: center !important;
    display: flex;
    overflow: hidden;
  }
  .content {
    > div {
        margin: 20px;
        max-width: 320px !important;
    }
    > div:before {
      content: "LEVEL8";
      font-family: ProximaNova;
      color: white;
      font-size: 30px;
      font-weight: 500;
      margin: 20px 20px 30px 20px;
      display: block;
    }
    > div > div{
      background-color: white;
      border-radius: 2px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    }
    #controlled-tab-tab-\/register { display: none }
    #controlled-tab-tab-\/login {
      font-family: ProximaNova-SemiBold;;
      color: #203952;
      font-size: 22px;
      line-height: 80px;
      min-height: 80px;
      padding: 0 10px 0 20px;
      font-weight: 700;
      border: none;
      //pointer-events: none;
      cursor: default;
      text-decoration: none;
    }
    .main-content {
      padding: 0 20px 20px 20px;
      min-width: 300px !important;
      .mw-xs.mt-3.mb-2 {
        margin: 0 !important;
      }
      #sign-in-form {
        #forgot-password {
          position: relative;
          color: #40bbea !important;
          top: -60px;
          font-size: 12px;
          width: auto;
          padding: 0;
          justify-content: left;
          height: auto !important;
        }
        .pgn__form-group:nth-child(1) {
          margin: 20px 0px 50px;
        }
        .pgn__form-group:nth-child(2) {
          margin: 0 0 20px 0;
        }
      }
    }
  }
} 

.layout .pgn__form-group .pgn__form-control-decorator-group {
  margin-inline-end: 0;
  input#emailOrUsername {
    border-radius: 2px;
  }
  input#password {
    border-radius: 2px;
  }
  .pgn__form-control-floating-label {
    font-family: ProximaNova-SemiBold;
    font-weight: 800;
    text-transform: uppercase;
    color: #40bbea;
    //font-size: 14px;
    padding: 0;
    margin: 0;
    top: -10px;
    .pgn__form-control-floating-label-text {
      transform: none !important;
      font-size: 11px;
      color: #425260;
    }
  }
}

nav.pgn__tabs.nav.nav-tabs {
    border: none;
}

button#sign-in {
    position: relative;
    top: 30px;
}

#forget-password-form {
  max-width: 350px !important;
  font-size: 14px !important;
  .pgn-transition-replace-group.position-relative { display: none }
  p {
    color: #425260 !important;
    font-size: 13px;
  }
  h2.h4 {
    color: #425260 !important;
    font-size: 16px;
  }
  p.mt-5\.5 {
    display: none;
  }
}
