// Use this file to set SASS variables for @edx/paragon
// See _variables.scss in https://github.com/openedx/paragon/blob/master/scss/core/ for reference

$element-color-levels: () !default;
$element-color-levels: map-merge(
  (
    "focus": 700,
  ),
  $element-color-levels
);

// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

$white:    #fff !default;
$gray-100: #ebebeb !default;
$gray-200: #cccccc !default;
$gray-300: #adadad !default;
$gray-400: #8f8f8f !default;
$gray-500: #707070 !default;
$gray-600: #5c5c5c !default;
$gray-700: #454545 !default;
$gray-800: #333333 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #00688D !default;
// $indigo:  #6610f2 !default;
// $purple:  #6f42c1 !default;
// $pink:    #d63384 !default;
$red:     #AB0D02 !default;
// $orange:  #fd7e14 !default;
$yellow:  #D6B600 !default;
$green:   #0D7D4D !default;
// Body

//
// Settings for the `<body>` element.
$body-bg: $black !default;
